<header>
<nav class="flex justify-end  bg-sky-600  relative p-2 ">
    <ul class="flex space-x-4 mr-10 ">
      <li class="bg-sky-600 text-white px-4 py-2"><a href="http://localhost:4200/">Home</a></li>
      <li class="bg-blue-950 text-white px-4 py-2 rounded-t-xl rounded-es-xl rounded-ee-xl group">
        Acerca 
    <ul class="hidden group-hover:block absolute bg-blue-950 text-white mt-2 ">
      <li class="px-4 py-2"><a href="http://localhost:4200/">Autoridades</a></li>
      <li class="px-4 py-2"><a href="">Consejo Estudiantil</a></li>
      
      </ul>
</li>
<li class="bg-blue-950 text-white px-4 py-2 rounded-t-xl rounded-es-xl rounded-ee-xl group">
    Servicios 
<ul class="hidden group-hover:block absolute bg-blue-950 text-white mt-2 ">
  <li class="px-4 py-2">Plataforma.E</li>
  <li class="px-4 py-2">Matriculas</li>
  </ul>
  </li>
  <li class="bg-blue-950 text-white px-4 py-2  rounded-t-xl rounded-es-xl rounded-ee-xl group">
    Eventos
<ul class="hidden group-hover:block absolute bg-blue-950 text-white mt-2 ">
  <li class="px-4 py-2">Memorias</li>
  <li class="px-4 py-2">P.Encargado</li>
  <li class="px-4 py-2">Cronogrma de Actividades</li>
</ul>
</li>
</ul>
<img class="h-10 w-10 mr-5" src="https://scontent.fcue1-1.fna.fbcdn.net/v/t39.30808-6/421611482_1053259729227398_9081522619183759765_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=3635dc&_nc_eui2=AeHngSFAg8JLghP_8M1H8NdvU5GsAIH6pwFTkawAgfqnAQWW2v_-oClzPirDrmLhL54cXIk0C-IkWDnl-LGNv8Ri&_nc_ohc=hG9C-4glGEEAX_a9jG5&_nc_ht=scontent.fcue1-1.fna&oh=00_AfBWOFF_d3pThtDu2tnirWBDqi-_i01NuILwwAe1jyYOHw&oe=65B7602E">
  </nav>
</header>