
    
      <div class="bg-no-repeat bg-center bg-cover bg-fixed" style="background-image: url(https://scontent.fcue1-1.fna.fbcdn.net/v/t39.30808-6/422882539_1053252142561490_5425652675719445158_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=3635dc&_nc_eui2=AeHWg1fX8TVgluFqYZYJzhjt2Km0zmH2nmHYqbTOYfaeYXetahx3zpfj9ZyjwX7tiUY5jU8cnGHQrp-JjorypsiA&_nc_ohc=a_wxdhVGUx8AX-XLI4A&_nc_ht=scontent.fcue1-1.fna&oh=00_AfDDg6Dd8BN2fu6s4izM3fdjmbEQzVCcZEK0kagTLyqBjw&oe=65B77F70)" >
    <div class=" flex item-center  p-2 pb-10"> 
      <img class="  ml-20 w-96 h-96 rounded-l-full rounded-r-full"  src="https://scontent.fcue2-1.fna.fbcdn.net/v/t1.6435-9/91895597_1554085334744657_8630368874413424640_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=be3454&_nc_eui2=AeFTGphIZBqXAs-wJfhmH5_x0WwkbRBaHPnRbCRtEFoc-VDYtNA-vYaXaj2TSPcJCnUukmhzLGdArXtZeqloEMmI&_nc_ohc=NqzD4poIB9oAX8uvtcP&_nc_ht=scontent.fcue2-1.fna&oh=00_AfCMTEHwBkOsHo4HIn3KVX26yf7RCtu3HkYpobyp-yyTFA&oe=65CE17BD" >
      <h1 class="content-center text-center text-7xl my-20  font-serif ">Unidad Educativa 
        <br> de los rios</h1>
    </div>
</div>
     <h2 class="text-center font-serif text-3xl mt-5 p-3 pb-20 pt-20 ">"En la Unidad Educativa Cazadores de los Rios, <br>cultivamos mentes brillantes y abrimos puertas<br> a un futuro prometedor.Aquí, cada estudiante es <br>guiado con pasión, destreza y compromiso,<br> creando un ambiente de aprendizaje inspirador <br>donde las habilidades se fortalecen  y los sueños <br>se hacen realidad."</h2>
   

  <P class="text-center font-serif text-3xl mt-5 p-3 pb-20 ">Oferta academica</P>
  
  <div class="grid grid-cols-3 gap-5 grid-rows-3 text-center ml-5 ">
    <div>
    <img class="h-96 w-96 justify-items-center ml-10 mb-5" src="https://scontent.fcue1-1.fna.fbcdn.net/v/t39.30808-6/415041485_2654158594737320_2895430522629600166_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=dd5e9f&_nc_eui2=AeFN3PpHDkRR66UPdcaHWX_gFn_NsrENYKcWf82ysQ1gp8lFRAyFV_kBX6p1qll1iXGY2AGHWeejU7T6QnnBr82A&_nc_ohc=dd75dxBLr9MAX8qF2Vl&_nc_ht=scontent.fcue1-1.fna&oh=00_AfAtY7F7wW6HVUjA2W4toK2pN8UIXuERpQP4zp7uY0Dr6g&oe=65B5EF4E">
      <h2 class="text-2xl font-serif mb-5">Inicial
       </h2>
        <h3 class="m-2 text-lg font-serif   mb-5 "> La UE Cazadores de los Rios oferta los niveles de:<br> Inicial I, Inicial II desde los 3 y 4 años de<br> edad respectivamente.</h3>
  </div>
  <div>
    <img  class="h-96 w-96 ml-14 flex  mb-5  " src="https://scontent.fcue1-1.fna.fbcdn.net/v/t39.30808-6/406501485_2629488583870988_2800486014902947528_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=dd5e9f&_nc_eui2=AeFSgGSBiiXdurlm0-NPJegWuQ94fGC3qfW5D3h8YLep9am1QoO72As3m1j-1FFbhK7QsCvVh0XPXxwsc88Wlm41&_nc_ohc=UfZnzjUMfQcAX-qxYRN&_nc_ht=scontent.fcue1-1.fna&oh=00_AfBTIO6ptyir42U6wuU53Fr6dfriwcCWhytOcdyYLEIneA&oe=65B480CC">
    <h2 class="text-2xl font-serif mb-5">Basica
    </h2>
     <h3 class="m-2 text-lg font-serif"> La Educación General Básica abarca desde<br> primer hasta décimo grado.</h3>
  </div>
  <div>
    <img  class="h-96 w-96 ml-10 border-4 justify-items-center border-blue-200 border-t-blue-800 mb-5 " src="https://scontent.fcue1-1.fna.fbcdn.net/v/t39.30808-6/396265354_2610465185773328_2847043496792072304_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=dd5e9f&_nc_eui2=AeHZG4pKgVtVlzxji3M0yAEBLEy4rASv84csTLisBK_zhzAEDnABsEattlnyM1kh13fCAWoWjLMl3Jkk_lYT2m5n&_nc_ohc=2hNelFnC4LYAX-GoLz0&_nc_ht=scontent.fcue1-1.fna&oh=00_AfBrn0sJPBZKwuKyKs28mbDm8m-UFPuXqdC7wHhNzwevDQ&oe=65B43273">
    <h2 class="text-2xl font-serif mb-5">Bachillerato
    </h2>
     <h3 class=" text-lg font-serif "> La institución cuenta con bachillerato <br>general unificado.</h3>
  </div>
  </div>
